# Python
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.env
.venv
venv/
ENV/
build/
dist/
.eggs/
*.log

# Jupyter Notebooks
.ipynb_checkpoints/


# Test outputs
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/

# Python
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.env
.venv
venv/
ENV/
build/
dist/
.eggs/
*.log

# Jupyter Notebooks
.ipynb_checkpoints/


# Test outputs
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
